:root {
	//colors
	--primary-color: #0084F4;
	--hover-color: #66B5F8;
	--bg-color: #FCFCFC;
	--text-color: #1A051D;
	--border-color: #D0C9D6;

	//radius
	--primary-border-radius: 15px;
	--large-border-radius: 20px;
	--primary-transition: .3s ease-in-out;
}